<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.login.dao.IUserDao">
	<select id="findUserByName" resultType="int">
		SELECT count(*) FROM T_USERS WHERE NAME=#{param1} AND PASSWD=#{param2}
	</select>
</mapper> 